/** reset css */
*:not(svg *, symbol *), *::before, *::after{
  all: unset;
  display: revert;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
}

a, button{
  cursor: revert;
}

ol, ul, menu{
  list-style: none;
}

img{
  display: block;
  max-inline-size: 100%;
  max-block-size: 100%;
}

table{
  border-collapse: collapse;
}

input, textarea{
  user-select: auto;
  -webkit-user-select: auto;
}

textarea{
  white-space: revert;
}

meter{
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre){
  all: revert;
}

::placeholder{
  color: unset;
}

::marker{
  content: initial;
}

:where([hidden]){
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])){
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: strict;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable="true"]){
  -webkit-user-drag: element;
}

:where(dialog:modal){
  all: revert;
}

img, video, canvas{
  overflow: clip;
  overflow-clip-margin: content-box;
}


/** page css */
:root{
  --red: #940000;
  --black: #1c1917;
  --white: #e7e5e4;
  --transparent_white: #e7e5e400;
  --brown: #674136;
  --blue: #284d5a;
  --pure_white: #fff;

  background-color: var(--white);
  color: var(--black);
  font-size: 15px;
  font-family: "Kiwi Maru", "ヒラギノ丸ゴ ProN", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  font-weight: 500;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
}

::selection{
  background-color: #c2988b;
}

small{
  font-size: 85%;
}

a{
  color: var(--red);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: #94000000;
  transition: 0.2s color linear, 0.2s text-decoration-color linear;
}
a:hover{
  color: var(--black);
  text-decoration-color: var(--red);
}

img[alt='icon']{
  display: inline;
}

rt{
  position: relative;
  display: ruby-text;
  font-size: 50%;
  font-weight: 600;
  text-align: center;
}
small rt{
  font-size: 65%;
}
@-moz-document url-prefix(){
  rt{
    top: 5px;
  }
}


aside#mask{
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000008 no-repeat;
}
aside#mask[data-state='visible']{
  display: flex;
}
aside#mask div{
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 248px;
  height: 72px;
}
aside#mask p{
  background-color: var(--pure_white);
}
aside#mask p:nth-of-type(1),
aside#mask p:nth-of-type(2),
aside#mask p:nth-of-type(3),
aside#mask p:nth-of-type(4),
aside#mask p:nth-of-type(5),
aside#mask p:nth-of-type(6),
aside#mask p:nth-of-type(7),
aside#mask p:nth-of-type(8),
aside#mask p:nth-of-type(9),
aside#mask p:nth-of-type(10),
aside#mask p:nth-of-type(11),
aside#mask p:nth-of-type(12),
aside#mask p:nth-of-type(13),
aside#mask p:nth-of-type(14),
aside#mask p:nth-of-type(15),
aside#mask p:nth-of-type(16),
aside#mask p:nth-of-type(17),
aside#mask p:nth-of-type(18),
aside#mask p:nth-of-type(19),
aside#mask p:nth-of-type(20),
aside#mask p:nth-of-type(21),
aside#mask p:nth-of-type(22),
aside#mask p:nth-of-type(23),
aside#mask p:nth-of-type(24),
aside#mask p:nth-of-type(25),
aside#mask p:nth-of-type(26),
aside#mask p:nth-of-type(27),
aside#mask p:nth-of-type(28),
aside#mask p:nth-of-type(29),
aside#mask p:nth-of-type(30),
aside#mask p:nth-of-type(31),
aside#mask p:nth-of-type(32),
aside#mask p:nth-of-type(62),
aside#mask p:nth-of-type(63),
aside#mask p:nth-of-type(93),
aside#mask p:nth-of-type(94),
aside#mask p:nth-of-type(124),
aside#mask p:nth-of-type(125),
aside#mask p:nth-of-type(155),
aside#mask p:nth-of-type(156),
aside#mask p:nth-of-type(186),
aside#mask p:nth-of-type(187),
aside#mask p:nth-of-type(217),
aside#mask p:nth-of-type(218),
aside#mask p:nth-of-type(248),
aside#mask p:nth-of-type(249),
aside#mask p:nth-of-type(250),
aside#mask p:nth-of-type(251),
aside#mask p:nth-of-type(252),
aside#mask p:nth-of-type(253),
aside#mask p:nth-of-type(254),
aside#mask p:nth-of-type(255),
aside#mask p:nth-of-type(256),
aside#mask p:nth-of-type(257),
aside#mask p:nth-of-type(258),
aside#mask p:nth-of-type(259),
aside#mask p:nth-of-type(260),
aside#mask p:nth-of-type(261),
aside#mask p:nth-of-type(262),
aside#mask p:nth-of-type(263),
aside#mask p:nth-of-type(264),
aside#mask p:nth-of-type(265),
aside#mask p:nth-of-type(266),
aside#mask p:nth-of-type(267),
aside#mask p:nth-of-type(268),
aside#mask p:nth-of-type(269),
aside#mask p:nth-of-type(270),
aside#mask p:nth-of-type(271),
aside#mask p:nth-of-type(272),
aside#mask p:nth-of-type(273),
aside#mask p:nth-of-type(274),
aside#mask p:nth-of-type(275),
aside#mask p:nth-of-type(276),
aside#mask p:nth-of-type(277),
aside#mask p:nth-of-type(278),
aside#mask p:nth-of-type(279){
  background-color: var(--black);
}
aside#mask p:nth-of-type(65),
aside#mask p:nth-of-type(74),
aside#mask p:nth-of-type(79),
aside#mask p:nth-of-type(82),
aside#mask p:nth-of-type(89),
aside#mask p:nth-of-type(90),
aside#mask p:nth-of-type(91),
aside#mask p:nth-of-type(96),
aside#mask p:nth-of-type(104),
aside#mask p:nth-of-type(106),
aside#mask p:nth-of-type(110),
aside#mask p:nth-of-type(120),
aside#mask p:nth-of-type(122),
aside#mask p:nth-of-type(127),
aside#mask p:nth-of-type(131),
aside#mask p:nth-of-type(132),
aside#mask p:nth-of-type(133),
aside#mask p:nth-of-type(135),
aside#mask p:nth-of-type(137),
aside#mask p:nth-of-type(139),
aside#mask p:nth-of-type(140),
aside#mask p:nth-of-type(141),
aside#mask p:nth-of-type(144),
aside#mask p:nth-of-type(147),
aside#mask p:nth-of-type(148),
aside#mask p:nth-of-type(149),
aside#mask p:nth-of-type(151),
aside#mask p:nth-of-type(152),
aside#mask p:nth-of-type(153),
aside#mask p:nth-of-type(158),
aside#mask p:nth-of-type(162),
aside#mask p:nth-of-type(164),
aside#mask p:nth-of-type(166),
aside#mask p:nth-of-type(167),
aside#mask p:nth-of-type(168),
aside#mask p:nth-of-type(170),
aside#mask p:nth-of-type(172),
aside#mask p:nth-of-type(175),
aside#mask p:nth-of-type(178),
aside#mask p:nth-of-type(180),
aside#mask p:nth-of-type(184),
aside#mask p:nth-of-type(189),
aside#mask p:nth-of-type(190),
aside#mask p:nth-of-type(191),
aside#mask p:nth-of-type(193),
aside#mask p:nth-of-type(194),
aside#mask p:nth-of-type(195),
aside#mask p:nth-of-type(197),
aside#mask p:nth-of-type(199),
aside#mask p:nth-of-type(201),
aside#mask p:nth-of-type(202),
aside#mask p:nth-of-type(203),
aside#mask p:nth-of-type(206),
aside#mask p:nth-of-type(209),
aside#mask p:nth-of-type(211),
aside#mask p:nth-of-type(213),
aside#mask p:nth-of-type(214),
aside#mask p:nth-of-type(215){
  background-color: #f75d09;
}
aside#mask p:nth-of-type(68),
aside#mask p:nth-of-type(69),
aside#mask p:nth-of-type(76),
aside#mask p:nth-of-type(80),
aside#mask p:nth-of-type(97),
aside#mask p:nth-of-type(100),
aside#mask p:nth-of-type(105),
aside#mask p:nth-of-type(116),
aside#mask p:nth-of-type(160),
aside#mask p:nth-of-type(161),
aside#mask p:nth-of-type(165),
aside#mask p:nth-of-type(181),
aside#mask p:nth-of-type(196),
aside#mask p:nth-of-type(207),
aside#mask p:nth-of-type(210){
  background-color: #c9d2d2;
}
aside#mask p:nth-of-type(73),
aside#mask p:nth-of-type(81),
aside#mask p:nth-of-type(83),
aside#mask p:nth-of-type(88),
aside#mask p:nth-of-type(102),
aside#mask p:nth-of-type(109),
aside#mask p:nth-of-type(115),
aside#mask p:nth-of-type(121),
aside#mask p:nth-of-type(130),
aside#mask p:nth-of-type(143),
aside#mask p:nth-of-type(145),
aside#mask p:nth-of-type(200){
  background-color: #bfdfe7;
}
aside#mask p:nth-of-type(67),
aside#mask p:nth-of-type(72),
aside#mask p:nth-of-type(77),
aside#mask p:nth-of-type(84),
aside#mask p:nth-of-type(86),
aside#mask p:nth-of-type(87),
aside#mask p:nth-of-type(101),
aside#mask p:nth-of-type(103),
aside#mask p:nth-of-type(107),
aside#mask p:nth-of-type(108),
aside#mask p:nth-of-type(111),
aside#mask p:nth-of-type(114),
aside#mask p:nth-of-type(117),
aside#mask p:nth-of-type(128),
aside#mask p:nth-of-type(136),
aside#mask p:nth-of-type(146),
aside#mask p:nth-of-type(159),
aside#mask p:nth-of-type(171),
aside#mask p:nth-of-type(174),
aside#mask p:nth-of-type(179),
aside#mask p:nth-of-type(182),
aside#mask p:nth-of-type(204),
aside#mask p:nth-of-type(205){
  background-color: #d7f4e3;
}
aside#mask p:nth-of-type(66),
aside#mask p:nth-of-type(70),
aside#mask p:nth-of-type(71),
aside#mask p:nth-of-type(75),
aside#mask p:nth-of-type(78),
aside#mask p:nth-of-type(85),
aside#mask p:nth-of-type(98),
aside#mask p:nth-of-type(99),
aside#mask p:nth-of-type(112),
aside#mask p:nth-of-type(113),
aside#mask p:nth-of-type(118),
aside#mask p:nth-of-type(119),
aside#mask p:nth-of-type(129),
aside#mask p:nth-of-type(134),
aside#mask p:nth-of-type(138),
aside#mask p:nth-of-type(142),
aside#mask p:nth-of-type(150),
aside#mask p:nth-of-type(163),
aside#mask p:nth-of-type(169),
aside#mask p:nth-of-type(173),
aside#mask p:nth-of-type(176),
aside#mask p:nth-of-type(177),
aside#mask p:nth-of-type(183),
aside#mask p:nth-of-type(192),
aside#mask p:nth-of-type(198),
aside#mask p:nth-of-type(208),
aside#mask p:nth-of-type(212){
  background-color: #f5efc1;
}


body >main{
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
}


section#header{
  display: grid;
  grid-template-columns: 1fr 7rem;
  align-items: center;
  gap: 0 1rem;
  height: 6rem;
  padding: 0.75rem 0;
}
section#header h1{
  display: grid;
  color: var(--black);
}
section#header h1 mark{
  font-size: 3rem;
  font-family: "Train One", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  text-shadow: 4px 2px 0 var(--pure_white);
}
section#header h1 small{
  color: #3c3632;
  font-size: 80%;
  font-weight: 600;
}
section#header h1 small span{
  display: inline-block;
  position: relative;
}
section#header h1 small i{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1em;
  background-color: var(--pure_white);
  transform: translate(0.4rem, 0.5rem);
}
section#header h1 small em{
  position: relative;
}
section#header ul{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2px 0;
}
section#header ul button{
  width: 7rem;
  padding: 0.25rem 0.5rem 0.35rem;
  border: 2px var(--blue) solid;
  border-radius: 2rem;
  background-color: var(--pure_white);
  color: var(--red);
  text-align: center;
  transition: 0.2s color linear, 0.2s background-color linear;
  cursor: pointer;
}
section#header ul button:hover{
  background-color: var(--blue);
  color: var(--pure_white);
}

main[data-state="pause"] button#start{
  display: block;
}
main[data-state="pause"] button#stop{
  display: none;
}
main[data-state="playing"] button#start{
  display: none;
}
main[data-state="playing"] button#stop{
  display: block;
}


section#table{
  display: grid;
  grid-template-columns: 1fr 17rem;
  gap: 0.75rem 1rem;
  margin-bottom: 1.5rem;
}


section#table ol{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--pure_white);
}
section#table ol li{
  display: block;
  width: 1%;
  height: 0;
  padding-bottom: 1%;
}


section#table dl{
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 1rem;
  overflow-y: scroll;
  max-height: 200vh;
  max-height: 200dvh;
}
section#table dl:not(:empty){
  margin-top: 1.5rem;
}
section#table dd{
  position: relative;
  padding: 0.2em 0.5em 0.4em;
  border: 2px #fff0 solid;
  font-size: 85%;
}
section#table dd[data-mode="0"]{
  padding-left: 0;
  border-color: var(--red);
  background-color: var(--pure_white);
  color: var(--red);
}
section#table dd[data-mode="1"],
section#table dd[data-mode="3"]{
  border-width: 2px 0 2px 0.5em;
  border-color: #fff0 #fff0 var(--black) var(--black);
  border-style: solid;
}
section#table dd[data-mode="2"]{
  border-radius: 0.5em;
  background-color: #e8ab16;
  color: #2f2f1b;
}
section#table dd[data-mode="2"]::after{
  content: "\02726";
  position: absolute;
  left: -0.3em;
  top: -0.5em;
  color: var(--pure_white);
  text-shadow: 0.75em -0.25em 0 var(--pure_white);
}
section#table dd[data-mode="4"]{
  color: #473f3a;
  background-color: var(--white);
}


section#table label{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.25rem 0;
  position: sticky;
  z-index: 10;
  top: 0;
  bottom: 0;
  margin-bottom: 0.75rem;
  padding: 0.75rem 0;
  background-color: var(--brown);
  color: var(--pure_white);
}
section#table label em{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
}
section#table label b{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
  height: 1.5rem;
}


section#table ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.375rem 1rem;
}
section#table ul li{
  display: grid;
  grid-template-columns: 1rem 1fr 3.5rem;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 0.45rem;
}
section#table ul li data{
  display: block;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
}
section#table ul li span{
  z-index: 1;
}
section#table ul li small{
  z-index: 1;
  font-size: 80%;
  font-family: "Alegreya Sans", sans-serif;
  white-space: nowrap;
  text-align: right;
}
section#table ul li small::before{
  display: inline;
  content: '\028';
  font-family: "Kiwi Maru", serif;
  font-size: 90%;
}
section#table ul li small::after{
  display: inline;
  content: '\04eba\029';
  font-family: "Kiwi Maru", serif;
  font-size: 90%;
}
section#table ul li meter{
  display: block;
  appearance: auto;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.65rem;
}


section#info{
  display: grid;
  gap: 1.5rem 0;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0.5rem;
  border: 2px var(--brown) solid;
}
section#info header{
  padding: 0.75rem 0.5rem;
  background-color: var(--brown);
  color: var(--pure_white);
  font-size: 115%;
}
  section#info article{
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem 0;
}
section#info article p{
  padding: 0.2rem 0.25rem 0.3rem;
  background-color: #8e594a;
  color: var(--pure_white);
}
section#info article p::before{
  content: '\0bb\020';
}
section#info article code{
  display: block;
  margin: 0.75rem 0;
  padding: 0.75rem 0.5rem;
  background-color: var(--pure_white);
}


section#revision{
  margin-bottom: 1.5rem;
  padding: 0.75rem 0.5rem 1.5rem;
  border: 2px var(--brown) solid;
}
section#revision header{
  margin-bottom: 0.75rem;
  padding: 0.75rem 0.5rem;
  background-color: var(--brown);
  color: var(--pure_white);
  font-size: 115%;
}
section#revision li::before{
  display: inline;
  content: '\02d\020';
}


section#data{
  margin-bottom: 1.5rem;
  border: 2px var(--brown) solid;
}
section#data header{
  margin: 0.75rem 0.5rem;
  padding: 0.75rem 0.5rem;
  background-color: var(--brown);
  color: var(--pure_white);
  font-size: 115%;
}
section#data legend{
  padding: 0 0.5rem 0.75rem;
}
section#data textarea{
  display: block;
  width: 100%;
  min-height: 8rem;
  padding: 0 0.5rem;
  background-color: var(--pure_white);
}


section#footer{
  position: sticky;
  top: 100vh;
  top: 100dvh;
  padding-bottom: 1.5rem;
  font-size: 85%;
  line-height: 1.35;
  text-align: center;
}
